<%- include('header') %>
<h1>Convert My Money</h1>
<div class="result">
    <% if(error){ %>
    <%= error %>
    <% }else{ %>
    <%= quantidade %>
    dollares na cotacao de <%= cotacao %>é igual a: <%= conversao %> Reais
    <% } %>

</div>














<%- include('footer') %>